<div *ngIf="checklogin()">
  <h1> You are already logged in !</h1>
  <h1>Browse</h1>
  <h2><a routerLink="/shops" routerLinkActive="active">Nearby shops</a></h2>
  <h2><a routerLink="/user/shops" routerLinkActive="active"> My favorite shops</a></h2>
</div>
<div *ngIf="!checklogin()">
<div class="container">
  <div class="row">
    <div class="Absolute-Center is-Responsive">
      <div id="logo-container"></div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <form #loginForm = "ngForm" (ngSubmit) = "login()" ngNativeValidate>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input class="form-control" type="text" placeholder="username" [(ngModel)] = "username" name="username"   required/>
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input class="form-control" type="password" [(ngModel)]= "password" name='password' placeholder="password"/>
          </div>
          <div *ngIf="error" class="alert alert-danger">{{error}}</div>

          <div class="form-group">
            <button type="submit" class="btn btn-def btn-block">Login</button>
          </div>
          <div class="form-group text-center">
            <p> You don't have account yet ?</p><a routerLink="/register" routerLinkActive="active">Register</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>