<div class="jumbotron text-center">
    <h1>Welcome to the ultimate guide for shops in the entire galaxy</h1>
   <div *ngIf="loginService.isLoggedIn()">
       <nav><button (click)="logout()" > Logout </button>
        <div  *ngIf="getCurrentPath() == '/shops'"><a routerLink="/user/shops" routerLinkActive="active">My favorite shops </a>
        </div>
           <div  *ngIf="getCurrentPath() == '/user/shops'"><a routerLink="/shops" routerLinkActive="active">All shops </a>
           </div>
       </nav>
   </div>
    <div *ngIf="!loginService.isLoggedIn()">
    <nav><a style="text-align: right" routerLink="/login" routerLinkActive="active">Login</a> </nav>
    </div>


</div>
<div class="container">
    <div *ngIf="getCurrentPath() == '/' && !loginService.isLoggedIn()">
     <h1>You need to log in to see shops you may like.</h1>
    </div>
    <div *ngIf="getCurrentPath() == '/' && loginService.isLoggedIn()">
        <h1>Browse</h1>
        <h2><a routerLink="/shops" routerLinkActive="active">All shops</a></h2>
        <h2><a routerLink="/user/shops" routerLinkActive="active"> My favorite shops</a></h2>
    </div>
    </div>
<router-outlet></router-outlet>
