<div *ngIf="!userShops">
     <h3 style="text-align: center"> You haven't liked any shops yet. Got to <a routerLink="/shops" routerLinkActive="active"> All shops</a> page to check the nearset ones.</h3>
</div>
<div style="padding-left: 20px;padding-right: 20px" class="row">
    <div class="col-xs-18 col-sm-6 col-md-4" *ngFor="let shop of userShops">
    <div class="thumbnail img">
      <img src="{{shop['picture']}}" alt="" style="width:100%">
      <div class="caption center">
        <h4>{{shop['name']}}</h4>
        <p> <a (click)="dislike(shop['id'])" class="btn btn-default btn-lg" role="button">Dislike </a></p>
      </div>
    </div>
  </div>
    </div>

